:root{
  /*Declared css variable*/
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
}

body{
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8),rgba(136, 136, 206,0.7)),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  color:white;
  background-size:cover;
  background-position:center;
  font-family: Poppins, sans-serif;
}

.intro{
  margin-top:35px;
  text-align:center;
  margin-bottom:25px;
  font-size:1.1em;
}

#description{
   font-style:italic;
   text-align:justify;
   font-size:1.127em;
   text-align:center;
}

#mainContent{
  display:flex;
  flex-direction:column;
  align-items:center;
}
/* Adjust Screen for smaller devices*/
@media(max-width:540px){
  #survey-form{
    background: var(--color-darkblue-alpha);
    margin-left:1px !important;
    padding-left:30px !important;
  }
  #name{
      height:30px !important;
      width:280px !important;
  }
  #email{
      height:30px !important;
      width:280px !important;
  }
  #number{
      height:30px !important;
      width:280px !important;
  }
 .styleSelect{
      height:30px !important;
      width:280px !important;
  }
  .styleSelectOpt{
      height:30px !important;
      width:280px !important;
  }
  textarea{
      padding:5px 33px 90px 7px !important;
  }
  button{
      padding: 13.5px 200px 13.5px 200px !important;
  }
}

#survey-form{
  background: var(--color-darkblue-alpha);
  border-radius:3.5px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  padding-bottom:60px;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

#name{
  height:30px;
  width:530px;
  border-radius:6px;
  margin-top:10px;
  margin-bottom:25px;
}

#email{
   height:30px;
    width:530px;
   border-radius:6px;
   margin-top:10px;
   margin-bottom:25px;
}

#number{
  margin-top:10px;
  margin-bottom:25px;
  border-radius:6px;
  height:30px;
  width:530px;
}

.styleSelect{
  margin-top:7px;
  padding:7px 400px 7px 5px;
  border-radius:6px;
  color:gray;
}

.styleSelectOpt{
  margin-top:7px;
  height:30px;
  width:540px;
  border-radius:6px;
  color:gray;
}

.personal-items{
  padding: 7px 395px 7px 6px;
  border-radius:6px;
}
/* Select all checkbox/radio with the attribute selector*/
[type='checkbox']{
  margin-bottom:16px;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

[type='radio']{
  margin-bottom:16px;
  font-size:1.2em;
}

textarea{
  height:200px;
  width:520px;
  border-radius:3px;
  color:gray;
}

button{
  background-color:#37AF65;
  cursor:pointer;
  color:white;
  border-radius:3.5px;
  height:45px;
  width:530px;
  font-size:1em;
  border-width:1px;
  border-color:black;
}

#buttonLayout{
     margin-top:30px;
}

