:root{
  /*Declared css variable*/
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
}

body{
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8),rgba(136, 136, 206,0.7)),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  color:white;
  background-size:cover;
  background-position:center;
  font-family: Poppins, sans-serif;
}

.intro{
  margin-top:35px;
  text-align:center;
  margin-bottom:25px;
  font-size:1em;
}

#description{
   font-style:italic;
}

#mainContent{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#survey-form{
  background: var(--color-darkblue-alpha);
  border-radius:3.5px;
  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  padding-bottom:60px;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

#name{
  padding: 7px 395px 7px 6px;
  border-radius:4px;
  margin-top:10px;
  margin-bottom:25px;

}

#email{
   padding: 7px 395px 7px 6px;
   border-radius:4px;
   margin-top:10px;
   margin-bottom:25px;
}

#number{
  margin-top:10px;
  margin-bottom:25px;
  padding-right:500px;
  padding-top:7px;
  padding-bottom:7px;
}

.personal-items{
  padding: 7px 395px 7px 6px;
  border-radius:4px;
}

[type='checkbox']{
  margin-bottom:16px;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  
}

[type='radio']{
  margin-bottom:16px;
  font-size:1.2em;
}

textarea{
  padding:5px 140px 90px 7px;
}

button{
  background-color:#37AF65;
  cursor:pointer;
  color:white;
  border-radius:4px;
  padding: 14.5px 250px 14.5px 250px;
  border-style:solid;
  border-color:black;
  font-size:1em;
}

#buttonLayout{
     margin-top:30px;
}

